#user_dash
  %p #{@user.username.upcase}'s Dashboard: #{@user.last_name} #{@user.last_name} #{@user.phone} #{@user.email}
.clear
.space
.create_song.sectionWrapper
  = render "shared/song_form"
#songs.sectionWrapper
  %h3 Songs
  - @songs.each do |song|
    %p= link_to song.title, song_path(song.id)
.clear
