%h1 Dashboard

#user
  %h3 User Profile
  %p #{@user.first_name} #{@user.last_name}
  %p= @user.phone
  %p= @user.email

#songs
  %h3 Songs
  - @songs.each do |song|
    %p= link_to "#{song.title} #{song.comments.count}", users_song_path(song.id)

#recordings
  %h3 Recordings
  - @recordings.each do |recording|
    %p= recording.submitted_at
    %p= recording.play_count
    %p= recording.file
