.container
  #user
  .user_dash
    %p #{current_user.username.upcase}'s working songs #{current_user.last_name} #{current_user.last_name} #{current_user.phone} #{current_user.email}
    #songs
      %h1 Songs
      - @songs.each do |song|
        %p= link_to song.title, song_path(song.id)
    .create_song
      = render "shared/song_form"
