.container
  %h1= @song.title
  = render "shared/comment_form"
  #comment_show
  - @song.comments.each do |c|
    - if c.commentable_type == "Songs"
      %strong
        posted #{time_ago_in_words(c.created_at)} ago
        %p
      = h(c.comment)

  %h2 Add recording
  #recording_form
  = render "shared/recording_form"
  %h3 Recordings booty

  #recordings_index
    - @song.recordings.each do |recording|
      %p= recording.name
      <audio controls="controls">
      <source src="#{recording.file_url}" type="audio/mp3">
      <source src="#{recording.file_url}" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio>
      .song
        = render partial: "shared/rec_comment_form", locals: {recording: recording}

      %small #{recording.created_at}
      %h4 Comments:
      #comment_show
        - @song.comments.each do |c|
          - if c.commentable_type == "Recording" && c.title == recording.name
            %strong
              posted #{time_ago_in_words(c.created_at)} ago
              %p
            = h(c.comment)
            -# %p


      =link_to "<<Back", songs_path
      =link_to "Edit", edit_song_path(@song.id)
      -# = simple_form_for Comment.new do |f|
      -#   = f.input :comment, as: :text
      -#   = f.hidden_field :user_id, :value => current_user.id
      -#   %p
      -#   = f.button :submit, "Comment"
      -#   %p
