.space
.space

.sectionWrapper.margin_left
  = form_tag("/thesaurus", method: "get") do
    = text_field_tag(:q)
    = submit_tag("Thesaurus")
  .contentWrapper
    %form{action: "javascript:RhymeBrainSubmit()"}
      %input#RhymeBrainInput{type: "text"}/
      %input{type: "submit", value: "Rhyme"}/
      :javascript
        var RhymeBrainMaxResults = 50;
      %script{src: "http://rhymebrain.com/external.js", type: "text/javascript"}
  .sectionWrapper.text_center
  - @results.each do |key, value|
    -value.each do |k,v|
      <br />
      - if @word
        %h1 #{@word.downcase}
        <br />
        #keys #{key}: #{k}:
        <br /><br />
        - v.each do |val|
          #values #{val},
