%h1= @song.title
- @song.comments.each do |comment|
  %p= comment.body

%h3 Recordings
%ul
  - @recordings.each do |recording|
    %li #{recording.file} #{recording.submitted_at}
    %ul
      - recording.comments.each do |recording_comment|
        %p= recording_comment.body
