%h1= @song.title
- @song.comments.each do |comment|
  %p(class="#{comment.post_class.downcase}")
    = comment.body
  - if comment.post.is_a? Song
    %small= comment.post.title
  - elsif comment.post.is_a? Recording
    %small= comment.post.file

%h3 Recordings
%ul
  - @song.recordings.each do |recording|
    %li #{recording.file}
    %small #{recording.submitted_at}
