!!!
%html
  %head
    %title StraightUpSound
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'reset', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      %header.margin_auto.text_center.box_shadow
        #logo=image_tag "suslogo.jpg"
        %ul.devise_navigation.right
        - if user_signed_in?
          .nudge
          %li.nav.navButton.right= link_to 'Sign out', destroy_user_session_path, method: 'delete'
        - else
          %li.nav.navButton= link_to 'Sign in', new_user_session_path
        %ul.main_navigation.left.margin_auto
          %li.nav.navButton= link_to 'dashboard', root_path
          %li.nav.navButton= link_to 'tools', thesaurus_path
          %li.nav.navButton= link_to 'Straight Up Sound', 'http://www.straightupsoundstudio.com'
      .space
      .big_bump
      .nudge
      .nudge
      .nudge
      .page_content
        .flash_alert.text_center
          .alert.background_color_saffron= alert
          .notice= notice
        = yield
      .middle.box_shadow
      .middle_content
      .middle.box_shadow
      .third_content
