!!!
%html
  %head
    %title StraightUpSound
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      %header
        #logo
          =image_tag "suslogo.jpg"
        %ul.devise_navigation
        - if user_signed_in?
          %li.nav.navButton= link_to 'Sign out', destroy_user_session_path, method: 'delete'
        - else
          %li.nav.navButton= link_to 'Sign in', new_user_session_path
        %ul.main_navigation
          %li.nav.navButton= link_to 'dashboard', root_path
          %li.nav.navButton= link_to 'thesaurus/rhymes', thesaurus_path
          %li.nav.navButton= link_to 'Straight Up Sound', 'http://www.straightupsoundstudio.com'

      .page_content
        .alert= alert
        .notice= notice
        = yield
